

<script src="https://use.fontawesome.com/c766549a42.js"></script>



<div style="background-color: #c8d0cc">
  <h2 style="color:#3f57cc;display: inline-block;">Task Details</h2>
  <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
  <div class="mat-app-background basic-container" style="float:right;">
    <button mat-raised-button (click)="doLogout()">Logout</button>
    <dialog-overview-example >loading</dialog-overview-example>
  </div>
</div>

<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet"> -->


<div>
  <div style="float:right;">
    <mat-form-field style="margin-top:10px">
      <mat-label>Column to sort</mat-label>
      <mat-select  [(value)]="selectedColumn" (selectionChange)="changeSortedColumn()">
        <mat-option *ngFor="let column of displayedColumns" [value]="column">
          {{column}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <span >Descending: </span> -->
    <mat-checkbox style="margin-left: 20px;" (change)="onSortChange($event)" class="example-margin">Descending </mat-checkbox>
    <!-- {{dir}} -->
    <mat-form-field style="margin-left: 20px;">
      <mat-label >Filter:</mat-label>
      <input matInput (keyup)="onFilter($event)" placeholder="" #input style="width: 90%;vertical-align: baseline !important; ">
    </mat-form-field>
  </div>
</div>


<div class="mat-elevation-z8 mat-elevation-z8">
  <table mat-table [dataSource]= "myDataSource" #myTable class="full-width-table" matSort aria-label="Elements">
    <!-- ['Quote Type', 'Quote#','Contact','Task','Due Date', 'Task Type','']; -->
    

    <!-- Quote Type -->
    <ng-container matColumnDef="QuoteType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quote Type</th>
      <td mat-cell *matCellDef="let row">{{row.QuoteType}}</td>
    </ng-container>

    <!-- Quote# -->
    <ng-container matColumnDef="QuoteID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quote#</th>
      <td mat-cell *matCellDef="let row">{{row.QuoteID}}</td>
    </ng-container>

    <!-- Contact -->
    <ng-container matColumnDef="Contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
      <td mat-cell *matCellDef="let row">{{row.Contact}}</td>
    </ng-container>

    <!-- Task -->
    <ng-container matColumnDef="Task">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Task</th>
      <td mat-cell *matCellDef="let row">{{row.Task}}</td>
    </ng-container>

    <!-- Due Date -->
    <ng-container matColumnDef="DueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
      <td mat-cell *matCellDef="let row">{{row.DueDate}}</td>
    </ng-container>

    <!-- Task Type -->
    <ng-container matColumnDef="TaskType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Type</th>
      <td mat-cell *matCellDef="let row">{{row.TaskType}}</td>
    </ng-container>


    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="action-link"> 
        <a mat-button (click)="openDialog('Details',row)"> <mat-icon style="color:rgba(0,0,0,.26)">remove_red_eye </mat-icon></a> 
        <a mat-button (click)="openDialog('Delete',row)"><mat-icon style="color:rgba(0,0,0,.26)">delete</mat-icon></a>  
        
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="myDataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[1, 3, 10, 100]">
  </mat-paginator>
</div>
