<div class="mat-elevation-z8 mat-elevation-z8">
  <table mat-table [dataSource]= "myDataSource" class="full-width-table" matSort aria-label="Elements">
    <!-- ['Quote Type', 'Quote#','Contact','Task','Due Date', 'Task Type','']; -->
    <!-- Quote Type -->
    <ng-container matColumnDef="QuoteType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quote Type</th>
      <td mat-cell *matCellDef="let row">{{row.QuoteType}}</td>
    </ng-container>

    <!-- Quote# -->
    <ng-container matColumnDef="QuoteID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quote#</th>
      <td mat-cell *matCellDef="let row">{{row.QuoteID}}</td>
    </ng-container>

    <!-- Contact -->
    <ng-container matColumnDef="Contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
      <td mat-cell *matCellDef="let row">{{row.Contact}}</td>
    </ng-container>

    <!-- Task -->
    <ng-container matColumnDef="Task">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Task</th>
      <td mat-cell *matCellDef="let row">{{row.Task}}</td>
    </ng-container>

    <!-- Due Date -->
    <ng-container matColumnDef="DueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
      <td mat-cell *matCellDef="let row">{{row.DueDate}}</td>
    </ng-container>

    <!-- Task Type -->
    <ng-container matColumnDef="TaskType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Task Type</th>
      <td mat-cell *matCellDef="let row">{{row.TaskType}}</td>
    </ng-container>

    <!-- Operations
    <ng-container matColumnDef="Ops">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">placeholder</td>
    </ng-container> -->


    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="myDataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[10, 20, 50, 100]">
  </mat-paginator>
</div>
